body {
    /*margin: 0;*/
    background: hsla(126, 65%, 82%, 0.868);
    /*display: flex;*/
        text-align: center;
        
        align-items: center;
        justify-content: center;
}
   

.cardbody{
      margin: 0;
      background: hsla(235, 88%, 67%, 0.847);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        align-items: center;
        /*display: flex;*/
        /*text-align: center;*/
        
        /*align-items: center;*/
        /*justify-content: center;*/
        flex-direction: column;
        
}
  
    /*.App {
      text-align: center;
    }*/
  
.presenta_cssum {
     /* margin: 0;*/
      background: hsla(235, 84%, 80%, 0.847);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        margin-left: 3em;
        padding-top: 1cm;
        padding-bottom: 300mm;
        width: 200px;
        /* bordas do formulário */
        padding: 1em;
        border: 5px solid #CCC;
        border-radius: 1em;
        background-color: #61dafb;
        margin-top: 2em;
  
}
    .presenta_cssdos{

    

      background: hsla(235, 84%, 80%, 0.847);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        margin: 0 auto;
       /* margin-left: 12em;
        padding-top: 1cm;
        padding-bottom: 300mm;*/
        width: 200px;
        /* bordas do formulário */
        padding: 1em;
        border: 5px solid #CCC;
        border-radius: 1em;
        background-color: #61dafb;
        margin-top: 2em;
}

.presenta_csstres{

  background: hsla(235, 84%, 80%, 0.847);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   /* margin-left: 22em;
    padding-top: 1cm;
    padding-bottom: 300mm;*/
 
  /* text-align: center;*/
  /*display: flex;*/


  text-align: center;
          
  align-items: center;
  justify-content: center;
   
    width: 200px;
    /* bordas do formulário */
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
    background-color: #61dafb;
    margin-top: 2em;
}

.presenta_cssquatro{

  background: hsla(235, 84%, 80%, 0.847);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-left: 31em;
    padding-top: 1cm;
    padding-bottom: 300mm;
    width: 200px;
    /* bordas do formulário */
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
    background-color: #61dafb;
    margin-top: 2em;
 
}

.presenta_csscinco{

  background: hsla(235, 84%, 80%, 0.847);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-left: 41em;
    padding-top: 1cm;
    padding-bottom: 300mm;
    width: 210px;
    /* bordas do formulário */
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
    background-color: #61dafb;
    margin-top: 2em;
 
}

.presenta_cssseis{

  background: hsla(235, 84%, 80%, 0.847);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-left: 50em;
    padding-top: 1cm;
    padding-bottom: 300mm;
    width: 170px;
    /* bordas do formulário */
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
    background-color: #61dafb;
    margin-top: 2em;
 
}
/*.centralizar {
    /*display: flex;
        text-align: center;
        
        align-items: center;
        justify-content: center;
    
    text-decoration: none;*/

      

.logocabecal{
  background: hsla(235, 88%, 67%, 0.847);
}
.ima-principal{
        
        margin: 100px 40px
}
.cortres{
  /*margin: 0 auto;*/
  margin-left: 0em;
  padding-top: 1cm;
  width: 350px;
  padding-bottom: 300mm;
  /* bordas do formulário */
  padding: 1em;
  border: 5px solid rgb(251, 104, 104);
  border-radius: 2em;
  background-color: #61dafb;
  margin-top: 4em;
} 
.corumnav{
  /*margin-left: 56em;
  padding-top: 1cm;
  padding-bottom: 300mm;*/
  margin: 0 auto;
}
.corum{
  /*margin-left: 56em;
  padding-top: 1cm;
  padding-bottom: 300mm;*/
  margin: 0 auto;
  width: 200px;
  /* bordas do formulário */
  padding: 1em;
  border: 5px solid #CCC;
  border-radius: 1em;
  background-color: #61dafb;
  margin-top: 4em;




}


/*/////////////// App.css  /////*/

.oldos{
  list-style:none;
  padding:0px;
}
.liuno{
  width:150px;
  height:25px;
  border-right:#FFF solid 1px;
  font-size:20px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  background-color:#800;
}
.atres{
  text-decoration:none;
  color:#FFF;
}
.liuno:hover{
  background-color:#F00;
}
.App {
  /*text-align: left;*/
  align-items: left;
}
.imputcab{

  margin: 18px 40px
  
}
.um {
  width: 93%;
  background: rgb(244, 101, 24);
  margin-bottom:0px;
}

.App-logo {
  color: #000000;
  height: 17vmin;
  /*pointer-events: none;*/
}
.App-header {
  background-color: #45474b;
  min-height: 10vh;
  display: flex;
  margin: 10px 10px 10px 10px;

  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
  
}

.App-link {

  color: #000000;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}