/*.oldos{
  list-style:none;
  padding:0px;
}
.liuno{
  width:150px;
  height:25px;
  border-right:#FFF solid 1px;
  font-size:20px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  background-color:#800;
}
.atres{
  text-decoration:none;
  color:#FFF;
}
.liuno:hover{
  background-color:#F00;
}
.App {
  /*text-align: left;
  align-items: left;
}
.imputcab{

  margin: 18px 40px
  
}
.um {
  width: 93%;
  background: rgb(244, 101, 24);
  margin-bottom:0px;
  }

.App-logo {
  color: #000000;
  height: 17vmin;
  /*pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  margin: 10px 20px;

  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {

  color: #000000;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/